html, body{
  color: rgb(90, 90, 90);
  margin: 0;
  padding: 0;
  font-family: 'Michroma';
  background-color: rgb(215, 215, 203);
  overflow-x: hidden;
}

/* Header and Footer */
#header{
  height: 9vh;
  background:linear-gradient(rgba(0, 45, 30, 0.457), rgb(215, 215, 203) );
  position: relative;
  bottom: 3.5vh;
}
#links{
  position: relative;
  bottom: 5vh;
  font-size: 15px;
}
#title{
  width:fit-content;
  font-family: 'Lexend';
  font-size: 30px;
  font-weight: 800;
  color: black;
  position: relative;
  left: 45%;
  top: 2vh;
  text-decoration: none;
  z-index: 9999999999;
}
#title:hover{
  cursor: pointer;
}
#homeBtn{
  margin-left: 20px;
}
#footer{
  width: 100%;
  height: 10vh;
  background:linear-gradient(rgb(207, 147, 117), rgb(164, 96, 107) );
  position: absolute;
}


/* Home Page */
#homeContainer{
  height: 100vh;
}

#homeText{
  font-weight: 100;
  font-size: 16px;
  width: 26vw;
  height: 10vh;
  position: relative;
  top: 20vh;
  left: 18vw;
  line-height: 30px;
}
#banner{
  overflow: hidden;
  white-space: nowrap;
}

.banner-slide{
  display: inline-block;
  animation: 20s slideText infinite linear ;
}

.bannerText{
  font-size: 60px;
  display: inline;
  margin-left: 10vh;
}

@keyframes slideText {
  from{
      transform: translateX(0%);
  }
  to{
      transform: translateX(-100%);
  }
}


/* About Block - Home Page */
#aboutBlock{
  background-color: rgb(207, 147, 117);
  height: 80vh;
}
#aboutBlockMainText{
  font-size: 60px;
  color: rgba(255, 255, 255, 0.713);
  position: relative;
  top: 12vh;
}
#dropdown{
  border: 1px solid blue;
  margin-top: 17%;
  height: 35vh;
}

/* Project Block - Home Page */
#projectBlock{
  text-align: center;
  height: 60vh;
  overflow: hidden;
}
#projectBlockMainText{
  font-size: 60px;
  color: rgb(207, 147, 117);
  margin-top: 10%;
}

/* Project Displays - Home Page */
.projectDisplay{
  overflow: hidden;
  height: 100vh;
}
.displayContainer{
  width: 90%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.projectTitle{
  /* color: rgb(77, 87, 77); */
  font-size: 40px;
  width: 10vh;
}
.projectImg{
  height: 40vh;
  width: 70vh;
  border-radius: 10vh;
}
.projectTextBlock{
  text-align: left;
  width: 65vh;
  position: relative;
  bottom: 45vh;
  left: 60%;
}
.date{
  margin-left: 2vw;
  font-weight: 100;
}
.list{
  font-weight: 100;
}


/* Contact Form - Home Page / Contact Page */
.contactFormContainer{
  height: 90vh;
  font-size: 30px;
}
.contactForm{
  width: 31vw;
  position: relative;
  left: 5vw;
  bottom: 10vh;
}
.inputContainer{
display: inline-block;
margin-right: 10%;
}
.inputTitle{
  margin-bottom: 1vh;
}
.nameLabel{
  font-size: 15px;
  margin-bottom: 0;
}
.nameInput{
  border-radius: 10vh;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid grey;
  height: 3vh;
  width: 11vw;
  text-indent: 5%;
  font-size: 20px;
}
.contactInput{
    border-radius: 10vh;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid grey;
    height: 3vh;
    width: 25vw;
    text-indent: 5%;
    font-size: 20px;
}
.nameContainer{
  display: inline-block;
  margin-right: 8%;
}
.messageInput{
  height: 15vh;
  width: 25vw;
  border-radius: 10px;
  resize: none;
  background-color: rgba(255, 255, 255, 0);
  font-size: 20px;
}